.notification-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background-color: white;
  margin:10px;
}

.notification-image {
  width: 130px; /* Increase image size */
  height: 130px; /* Increase image size */
  border-radius: 50%;
  margin-right: 20px;
}

.notification-text-container {
  display: flex;
  flex-direction: column;
}

.notification-name {
  margin: 0;
  font-size: 40px; /* Increase font size */
  font-weight: bold;
  text-align: left; /* Align name to the left */
}

.notification-message {
  margin: 0;
  font-size: 20px; /* Increase font size */
  color: #555;
  text-align: left; /* Align message to the left */
}
