.posts{
    display: flex ;
    flex-direction: column;
    flex: 0.50;

    background-color: #fff;

    box-shadow: 0 0 1px black;


    margin-top: 1.5%;
    padding: 0 10px;


    border-radius: 10px;

    transition: all 1s 0.9s linear ;
}


.postHeader{
    display: flex;
    flex : 1 ; 
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5%;
}

.postHeaderLeft{
    display: flex;
    flex: 1;
    align-items: center;
}

.timeStamp{
    font-size: 10px;
    color: #333;
    font-weight: 500;
}

.postHeaderRight{

}


.postHeaderLeft .username{
    margin-left: 2%;
}

.postBody{
    padding: 3px 7px;
    min-height: 150px ;
    margin-bottom: 1%;

}

img{
   
    border-radius: 20px ;
    width: 100%;
}

.imagePost,.videoPost{
    display: flex;
    flex-direction: column;
}

.sepLine {
    height: 1px;
    background-color: #ccc;
}

.vidLine{
    margin: 1%;
}

.caption{
    font-size: 15px;
    color: #333;
}


.postBodyContent{
    margin-top: 1.5%;
}

.postFooter{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    border-top: 1px solid #ccc;

    height: 40px;


    font-size:smaller;  
    cursor: pointer;
}

