.outerContainer {
  border-radius: 8px; 
  padding: 10px;
  margin-bottom: 20px;
  background-color:white; 
}

.friendContainer {
  display: flex; /* Display items in a row */
  flex-direction: column;
  align-items: center; /* Center items vertically */
  padding: 10px; /* Padding inside the friend container */
}

.profileImage {
  height: 100px;
  width: 100px;
  border-radius: 50%; /* Circular shape for the profile image */
  object-fit: cover; /* Ensure the image covers the entire space */
  margin-right: 20px; /* Spacing between image and text */
}

.details {
  flex: 1; /* Expand to fill available space */
  display: flex; /* Display items in a row */
  flex-direction: column;
  justify-content: center; /* Space items evenly */
  align-items: center; /* Center items vertically */
}

.person {
  flex: 1; /* Expand to fill available space */
}

.person h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #333; /* Dark text color */
}

.person h2 {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #666; /* Lighter text color */
}

.Button {
  background-color: #a31339; /* Blue button background */
  color: #fff; /* White text color */
  border: none; /* Remove button border */
  padding: 8px 16px; /* Padding inside the button */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin-top: 10px;
}

/* Hover effect */
.Button:hover {
  background-color: #ec2e34; /* Darker blue on hover */
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .outerContainer {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .friendContainer {
    display: flex; /* Ensure items are displayed in a row on smaller screens */
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center-align text */
  }

  .profileImage {
    margin: 0 auto 10px; /* Center profile image and add spacing below */
  }

  .details {
    width: 100%; /* Ensure details take full width on smaller screens */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  .person h1 {
    font-size: 24px; /* Decrease font size for smaller screens */
  }

  .person h2 {
    font-size: 16px; /* Decrease font size for smaller screens */
  }

  .Button {
    margin-top: 10px; /* Add space above button */
    display: block; /* Ensure button behaves as block element */
    width: 100%; /* Full width button on smaller screens */
  }
}
