.profileScreen{
  overflow-x: hidden; 
}
.mainScreenContent{
  display: flex;
  
  margin: 2% 7%;
  width: 100%;
}

.mainProfileScreen{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.profileSection{
  display: flex;
  flex-direction: column;

  background-color: #fff;

  box-shadow: 0 0 2px #8e0b3a;


  width: 100%;

  border-radius:5px ;


  overflow: hidden;
}


.mainUserFeed{
    display: flex;
    flex-direction: column;

    height: 40px;
    width: 100%;

    background-color: #fff; 

    box-shadow: 0 0 1px #8e0b3a;

    border-radius:10px ;

    margin-top: 2%;
}

.userFeed .feed{
  align-items: center;
  width: 100% !important;
}

.userFeed .feedSearchBox{
  width: 100%;
  align-items: start !important;
}

.userFeed .posts{
  width: 100%; 
}

.userFeed .feedIcons{
  width: 100%;
}
.userFeed .feedSearch{
   width: 100% !important ;
}

.postTag{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  font-weight: bold;
  color: #333;
}

.editProfile{
  display: flex;
  align-items: center;

  z-index: 3;
}


.editProfile button{
  background-color: #fff !important;
}


.editProfile button a{
  cursor: pointer; 
}

.editProfile .MuiSvgIcon-root{
  font-size: larger;
}



/* RIght Hand Side !  */

.rightProfileSection{
  display: flex;

  width: 30%;
  height: fit-content;

  margin-left: 5%;
  }


.suggestFollow .MuiAvatar-circular{
  height: 55px !important;
  width: 55px !important;
}

/* feed setting */
.profileFedd .feed{
  margin-left: 0%;
}
 