.appBody {
  margin: 0% 6%;
  display: flex;
  flex: 1;
}

/* Responsiveness */

.recharts-cartesian-axis-ticks {
  font-size: 0.7rem;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* Your custom styles for this range */
}

@media (min-width: 1300px) and (max-width: 1440px) {
  #headTrend #date {
    font-size: 0.7rem;
  }

  .storyFont {
    font-size: 1rem;
  }

  .recharts-cartesian-axis-ticks {
    font-size: 0.5rem;
    font-weight: bolder !important;
  }
}

@media (min-width: 1125px) and (max-width: 1299px) {
  #headTrend #date {
    font-size: 0.7rem;
  }

  .storyFont {
    font-size: 0.9rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.appBody {
  display: flex;
  flex: 1;
}

@media (max-width: 767px) {
  .appBody .Sidebar, .appBody .RightBar {
    display: none; /* Hide Sidebar and RightBar on mobile */
  }

  .appBody .Feed {
    flex: 1; /* Make Feed take the full remaining space */
  }
}
