.singleIcon{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 90px;

    border-radius: 10px;
}

.singleIcon p{
    margin-left: 5%;
    font-weight: 550 ;
}

.singleIcon:hover{
    transition: all 0.2s 0.1s ease-in-out ;
    background-color: #eee;
}
