#sidebar{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    flex : 0.25;

    margin-top: 1.5%;
}   

.profile{
    border-bottom: 1px solid #000;
    background-color: #fff;

    height: 195px;
    width: 85% !important;


    overflow: hidden;

    box-shadow: 0 0 1px #8e0b3a;

}

.curveBorder{
    border-radius: 10px;
}

.backPhoto{

    width: 100%;
    height: 100%;

    background-image: url(./planBg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    }


.user{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 120px;
    width: 100%;
}

.userHeader .MuiAvatar-root{
    height: 50px;
    width: 50px;
}

.userHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 19px;

}

#sideProfileuserAvatar{
    bottom: 15px;
}

.userTitle{
    font-weight: bold ;
    font-size: 15px;
}

.userHomeProfileHeader{
    font-size: 16px !important;
}

.userHomeProfileDes{
    font-size: 14px !important;
}

.userDescription{
    font-size: 11px;
    color: #333;
    font-weight: 550;

}


.sepLine{
    height: 1px;
    background-color: #ccc;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
}

.userInfoContent{
    display: flex  ;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.2%;
}

.sideFont{
    font-size: 15px !important;
    color: #333;
    font-weight: 500;
}

.subProfile{

    height: max-content !important;
    width: 85% !important;

    background-color: #fff;

    padding: 10px;
    margin: 10px 0 ;
    position: sticky;
    top: 766px;

    box-shadow: 0 0 1px #8e0b3a;
}


.subProfile #headTrend{
    color: #0e0e0e;
    margin-bottom: 3%;
}

.subProfile p{
    display: flex;   
    align-items: center;
    color: #333;
    font-size: 13px;
}

.email,.hobby{
    font-size: 14px !important;
    font-weight: bold;
}

/* Div Images  */
.icon-container {
    display: flex; /* Arrange icons in a row */
    gap: 10px; /* Spacing between icons */


}

.icon-container img {
    width: 80px;
    height: 80px;
    object-fit: cover; 


    border-radius: 8px ;
    box-shadow: 0 0 1px black;
    /* border: 1px solid #000;  */
}


.trendsTitle{
    font-weight: 550;
    color: #333;
}

.reposts{
    font-size: 14px !important;
}