.posts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0.50;

    
    background-color: #fff;
    box-shadow: 0 0 1px black;
    margin-top: 1.5%;
    padding: 0 10px;
    border-radius: 10px;

    box-shadow: 0 0 2px #8e0b3a;

}

.postHeader {
    display: flex;
    flex: 1; 
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5%;
}

.postHeader .MuiAvatar-root{
    border:  1px solid black;
    cursor: pointer;
}

.postHeaderLeft {
    display: flex;
    flex: 1;
    align-items: center;
}

.timeStamp {
    font-size: 12px;
    color: #333;
    font-weight: 500;

}

.userDescription{
    font-size: 13px;
    color: #333;
    font-weight: 550;}


.postHeaderLeft .username {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;}

.postBody {
    padding: 3px 7px;
    min-height: 150px;
    margin-bottom: 1%;
}

img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 400px;
}

.imagePost, .videoPost {
    display: flex;
    flex-direction: column;
}

.sepLine {
    height: 1px;
    background-color: #ccc;
}

.vidLine {
    margin: 1%;
}

.caption {
    font-size: 15px;
    color: #333;
}

.postBodyContent {
    margin-top: 1.5%;
}

.postFooter {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-top: 1px solid #ccc;
    height: 40px;
    font-size: smaller;  
    cursor: pointer;
}

.imageContainer {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.imageContainer.large img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
    object-fit: cover;
}
