.loginScreen {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  background: linear-gradient(135deg, #8e0b3a 0%, #1f1c18 100%);
  color: white; /* White text for better contrast */
}

.card {
  width: 100%; /* Adjust width as needed */
  max-width: 400px; /* Maximum width of the card */
  padding: 20px; /* Padding for spacing inside the card */
}
