.commentsContainer {
  height:100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffd700; /* Darker shade of yellow */
}

.commentsHeading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3em;
  color: black;
  font-weight: bold;
}

.postInfo {
  margin: 10px 0;
  font-size: 1.2em;
  color: #555;
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentInput {
  width: 100%;
  max-width: 600px;
  height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 1em;
  resize: vertical;
}

.submitButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

.commentList {
  margin-top: 20px;
}
